USE [callCenter]
GO
/****** Object:  Table [dbo].[externalInterfaceQueryChild]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[externalInterfaceQueryChild](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[parentid] [decimal](18, 0) NULL,
	[meterno] [varchar](50) NULL,
	[name] [varchar](100) NULL,
	[telephone] [varchar](20) NULL,
 CONSTRAINT [PK_externalInterfaceQueryChild] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[externalInterfaceQueryChild] ON
INSERT [dbo].[externalInterfaceQueryChild] ([id], [parentid], [meterno], [name], [telephone]) VALUES (CAST(1 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), N'123', N'对对对', N'2222222')
INSERT [dbo].[externalInterfaceQueryChild] ([id], [parentid], [meterno], [name], [telephone]) VALUES (CAST(2 AS Decimal(18, 0)), CAST(1 AS Decimal(18, 0)), N'111', N'柔柔弱弱', N'444444')
INSERT [dbo].[externalInterfaceQueryChild] ([id], [parentid], [meterno], [name], [telephone]) VALUES (CAST(3 AS Decimal(18, 0)), CAST(2 AS Decimal(18, 0)), N'123', N'多大的', N'11111')
SET IDENTITY_INSERT [dbo].[externalInterfaceQueryChild] OFF
/****** Object:  Table [dbo].[externalInterfaceQuery]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[externalInterfaceQuery](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[district] [varchar](50) NULL,
	[street] [varchar](100) NULL,
	[address] [varchar](100) NULL,
	[unit_floor] [varchar](50) NULL,
	[meterno] [varchar](50) NULL,
	[memo] [text] NULL,
 CONSTRAINT [PK_externalInterfaceQuery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[externalInterfaceQuery] ON
INSERT [dbo].[externalInterfaceQuery] ([id], [district], [street], [address], [unit_floor], [meterno], [memo]) VALUES (CAST(1 AS Decimal(18, 0)), N'aa', N'e', N'qqq', N'4', N'123', NULL)
INSERT [dbo].[externalInterfaceQuery] ([id], [district], [street], [address], [unit_floor], [meterno], [memo]) VALUES (CAST(2 AS Decimal(18, 0)), N'ab', N'e', N'aaa', N'6', N'111', NULL)
INSERT [dbo].[externalInterfaceQuery] ([id], [district], [street], [address], [unit_floor], [meterno], [memo]) VALUES (CAST(10 AS Decimal(18, 0)), N'', N'dddd', N'33333', N'2', N'', NULL)
SET IDENTITY_INSERT [dbo].[externalInterfaceQuery] OFF
/****** Object:  Table [dbo].[t09002]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t09002](
	[label] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[list] [nvarchar](50) NULL,
	[telephoneLabel] [nvarchar](250) NULL,
	[icon] [nvarchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_t09002] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t09002] ON
INSERT [dbo].[t09002] ([label], [state], [list], [telephoneLabel], [icon], [id]) VALUES (N'张三', N'添加操作', N'话机管理表', N'三号话机', NULL, 1)
INSERT [dbo].[t09002] ([label], [state], [list], [telephoneLabel], [icon], [id]) VALUES (N'张三', N'删除操作', N'话机管理表', N'三号话机', NULL, 2)
INSERT [dbo].[t09002] ([label], [state], [list], [telephoneLabel], [icon], [id]) VALUES (N'张三', N'编辑操作', N'', N'1007842109', NULL, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[t09002] OFF
/****** Object:  Table [dbo].[t09001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t09001](
	[telephoneLabel] [nvarchar](250) NULL,
	[ip] [nvarchar](250) NULL,
	[label] [nvarchar](250) NULL,
	[telephone] [nvarchar](max) NULL,
	[icon] [nvarchar](max) NULL,
	[date] [nvarchar](500) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_t09001] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t09001] ON
INSERT [dbo].[t09001] ([telephoneLabel], [ip], [label], [telephone], [icon], [date], [id]) VALUES (NULL, N'192.168.31.246', N'张三', NULL, NULL, N'2018-7-26 15:11:55', 1)
INSERT [dbo].[t09001] ([telephoneLabel], [ip], [label], [telephone], [icon], [date], [id]) VALUES (NULL, N'192.168.31.246', N'张三', NULL, NULL, N'2018-7-26 15:18:41', 2)
INSERT [dbo].[t09001] ([telephoneLabel], [ip], [label], [telephone], [icon], [date], [id]) VALUES (NULL, N'192.168.31.246', N'张三', NULL, NULL, N'2018-7-26 15:22:20', 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[t09001] OFF
/****** Object:  Table [dbo].[t08002]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t08002](
	[id] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NULL,
	[type_id] [int] NULL,
 CONSTRAINT [PK_t08002] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t08002] ([id], [name], [type_id]) VALUES (N'X001', N'电话投诉', 1)
INSERT [dbo].[t08002] ([id], [name], [type_id]) VALUES (N'X002', N'公司内部', 1)
/****** Object:  Table [dbo].[t08001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t08001](
	[id] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_t08001] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t08001] ([id], [name]) VALUES (N'1', N'信息来源')
INSERT [dbo].[t08001] ([id], [name]) VALUES (N'2', N'行政区')
INSERT [dbo].[t08001] ([id], [name]) VALUES (N'3', N'问题类型')
/****** Object:  Table [dbo].[t05009]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05009](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05009] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05009] ([code], [name]) VALUES (N'001', N'合格')
INSERT [dbo].[t05009] ([code], [name]) VALUES (N'002', N'不合格')
/****** Object:  Table [dbo].[t05008]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05008](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05008] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05008] ([code], [name]) VALUES (N'001', N'阀门损杆')
INSERT [dbo].[t05008] ([code], [name]) VALUES (N'002', N'水质')
/****** Object:  Table [dbo].[t05007]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05007](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05007] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05007] ([code], [name]) VALUES (N'001', N'业务内')
INSERT [dbo].[t05007] ([code], [name]) VALUES (N'002', N'业务外')
/****** Object:  Table [dbo].[t05006]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05006](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05006] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05006] ([code], [name]) VALUES (N'001', N'供水公司')
INSERT [dbo].[t05006] ([code], [name]) VALUES (N'002', N'维修人员')
/****** Object:  Table [dbo].[t05005]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05005](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05005] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05005] ([code], [name]) VALUES (N'001', N'1个星期')
INSERT [dbo].[t05005] ([code], [name]) VALUES (N'002', N'半个月')
/****** Object:  Table [dbo].[t05004]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05004](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05004] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05004] ([code], [name]) VALUES (N'001', N'安排技术员维修')
INSERT [dbo].[t05004] ([code], [name]) VALUES (N'002', N'更换水表')
/****** Object:  Table [dbo].[t05003]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05003](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05003] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05003] ([code], [name]) VALUES (N'001', N'水质问题')
INSERT [dbo].[t05003] ([code], [name]) VALUES (N'002', N'计费问题')
/****** Object:  Table [dbo].[t05002]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05002](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05002] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05002] ([code], [name]) VALUES (N'001', N'道里区')
INSERT [dbo].[t05002] ([code], [name]) VALUES (N'002', N'南岗区')
INSERT [dbo].[t05002] ([code], [name]) VALUES (N'003', N'香坊区')
/****** Object:  Table [dbo].[t05001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t05001](
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_t05001] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t05001] ([code], [name]) VALUES (N'X001', N'电话投诉')
INSERT [dbo].[t05001] ([code], [name]) VALUES (N'X002', N'公司内部')
/****** Object:  Table [dbo].[t04005]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t04005](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[instanceId] [nvarchar](20) NULL,
	[stepId] [nvarchar](20) NULL,
	[method] [int] NULL,
	[createTime] [datetime] NULL,
	[username] [nvarchar](20) NULL,
	[version] [int] NULL,
	[formId] [nvarchar](256) NULL,
	[updateTime] [datetime] NULL,
	[textContent] [text] NULL,
	[sendBackText] [nvarchar](256) NULL,
	[sendBackUsername] [nvarchar](20) NULL,
	[sendBackTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t04005] ON
INSERT [dbo].[t04005] ([id], [instanceId], [stepId], [method], [createTime], [username], [version], [formId], [updateTime], [textContent], [sendBackText], [sendBackUsername], [sendBackTime]) VALUES (154, N'87', N'14', 1, CAST(0x0000A94100D80E28 AS DateTime), N'admin', NULL, N'26', CAST(0x0000A941017BB000 AS DateTime), N'', N'456', N'admin', CAST(0x0000A9410171E1D8 AS DateTime))
INSERT [dbo].[t04005] ([id], [instanceId], [stepId], [method], [createTime], [username], [version], [formId], [updateTime], [textContent], [sendBackText], [sendBackUsername], [sendBackTime]) VALUES (155, N'86', N'13', 1, CAST(0x0000A941014EAA9C AS DateTime), N'admin', NULL, N'29', CAST(0x0000A941017A7848 AS DateTime), N'', NULL, NULL, NULL)
INSERT [dbo].[t04005] ([id], [instanceId], [stepId], [method], [createTime], [username], [version], [formId], [updateTime], [textContent], [sendBackText], [sendBackUsername], [sendBackTime]) VALUES (157, N'86', N'14', 1, CAST(0x0000A941017A7974 AS DateTime), N'admin', NULL, N'27', CAST(0x0000A941017B7FF4 AS DateTime), N'', N'2', N'admin', CAST(0x0000A941017B18D4 AS DateTime))
SET IDENTITY_INSERT [dbo].[t04005] OFF
/****** Object:  Table [dbo].[t04004]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t04004](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[workFlowId] [int] NULL,
 CONSTRAINT [PK_t04004] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t04004] ON
INSERT [dbo].[t04004] ([id], [workFlowId]) VALUES (85, 5559)
INSERT [dbo].[t04004] ([id], [workFlowId]) VALUES (86, 5559)
INSERT [dbo].[t04004] ([id], [workFlowId]) VALUES (87, 5559)
SET IDENTITY_INSERT [dbo].[t04004] OFF
/****** Object:  Table [dbo].[t04003]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t04003](
	[formName] [nvarchar](20) NOT NULL,
	[role] [nvarchar](20) NULL,
	[text] [nvarchar](256) NULL,
	[label] [nvarchar](20) NULL,
	[textContentField] [nvarchar](256) NULL,
 CONSTRAINT [PK_t04003] PRIMARY KEY CLUSTERED 
(
	[formName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t04003] ([formName], [role], [text], [label], [textContentField]) VALUES (N'caseOrderProcess1', N'001', N'', N'案件受理', N'deal_content')
INSERT [dbo].[t04003] ([formName], [role], [text], [label], [textContentField]) VALUES (N'caseOrderProcess2', N'001', N'', N'案件处理', N'deal_result')
INSERT [dbo].[t04003] ([formName], [role], [text], [label], [textContentField]) VALUES (N'workOrder', N'001', N'依据用户来电内容创建工单', N'工单', NULL)
/****** Object:  Table [dbo].[t04002]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t04002](
	[workflowId] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[previousId] [int] NULL,
	[label] [nvarchar](20) NULL,
	[sqlWhere] [nvarchar](256) NULL,
	[formName] [nvarchar](20) NULL,
	[timeOut] [int] NULL,
	[previousEnabled] [bit] NULL,
 CONSTRAINT [PK_t04002] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t04002] ON
INSERT [dbo].[t04002] ([workflowId], [id], [previousId], [label], [sqlWhere], [formName], [timeOut], [previousEnabled]) VALUES (5557, 5, -1, N'创建工单', NULL, N'workOrder', 0, 0)
INSERT [dbo].[t04002] ([workflowId], [id], [previousId], [label], [sqlWhere], [formName], [timeOut], [previousEnabled]) VALUES (5557, 9, 5, N'工单回访', NULL, N'workOrderReturnVisit', 0, 1)
INSERT [dbo].[t04002] ([workflowId], [id], [previousId], [label], [sqlWhere], [formName], [timeOut], [previousEnabled]) VALUES (5558, 10, -1, N'第一步', NULL, N'workOrder', 0, 1)
SET IDENTITY_INSERT [dbo].[t04002] OFF
/****** Object:  Table [dbo].[t04001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t04001](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](20) NULL,
	[text] [nvarchar](256) NULL,
 CONSTRAINT [PK_t04001] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t04001] ON
INSERT [dbo].[t04001] ([id], [label], [text]) VALUES (5557, N'工单流转', N'依据热线来电内容创建工单并交由二级部门处理。')
INSERT [dbo].[t04001] ([id], [label], [text]) VALUES (5558, N'测试流程', N'打发第三方')
INSERT [dbo].[t04001] ([id], [label], [text]) VALUES (5559, N'工单办理', N'')
SET IDENTITY_INSERT [dbo].[t04001] OFF
/****** Object:  Table [dbo].[t03008]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03008](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[time] [datetime] NULL,
	[deal_person] [nvarchar](20) NULL,
	[deal_result] [text] NULL,
 CONSTRAINT [PK_t03008] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t03007]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03007](
	[code] [nvarchar](50) NOT NULL,
	[staffId] [nvarchar](20) NULL,
	[time] [datetime] NULL,
	[filename] [nvarchar](100) NULL,
	[fileno] [nvarchar](50) NULL,
	[limit_time] [datetime] NULL,
	[title] [nvarchar](200) NULL,
	[write_company] [nvarchar](100) NULL,
	[write_person] [nvarchar](20) NULL,
	[write_time] [datetime] NULL,
	[accessory] [text] NULL,
	[deal_company] [nvarchar](20) NULL,
	[deal_content] [text] NULL,
 CONSTRAINT [PK_t03007] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t03006]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03006](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[time] [datetime] NULL,
	[name] [nvarchar](50) NULL,
	[state] [nvarchar](20) NULL,
	[deal_result] [text] NULL,
 CONSTRAINT [PK_t03006] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t03006] ON
INSERT [dbo].[t03006] ([id], [time], [name], [state], [deal_result]) VALUES (CAST(7 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'')
INSERT [dbo].[t03006] ([id], [time], [name], [state], [deal_result]) VALUES (CAST(8 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'')
INSERT [dbo].[t03006] ([id], [time], [name], [state], [deal_result]) VALUES (CAST(9 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'5566')
SET IDENTITY_INSERT [dbo].[t03006] OFF
/****** Object:  Table [dbo].[t03005]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03005](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[time] [datetime] NULL,
	[deal_company] [nvarchar](20) NULL,
	[deal_person] [nvarchar](50) NULL,
	[accessory] [text] NULL,
	[deal_result] [text] NULL,
	[return_result] [text] NULL,
 CONSTRAINT [PK_t03005] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t03005] ON
INSERT [dbo].[t03005] ([id], [time], [deal_company], [deal_person], [accessory], [deal_result], [return_result]) VALUES (CAST(25 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'', N'')
INSERT [dbo].[t03005] ([id], [time], [deal_company], [deal_person], [accessory], [deal_result], [return_result]) VALUES (CAST(26 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'222', N'222')
INSERT [dbo].[t03005] ([id], [time], [deal_company], [deal_person], [accessory], [deal_result], [return_result]) VALUES (CAST(27 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[t03005] OFF
/****** Object:  Table [dbo].[t03004]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03004](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[time] [datetime] NULL,
	[accessory] [text] NULL,
	[business_type] [nvarchar](20) NULL,
	[complain_type] [nvarchar](20) NULL,
	[deal_result] [text] NULL,
	[return_result] [text] NULL,
 CONSTRAINT [PK_t03004] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t03004] ON
INSERT [dbo].[t03004] ([id], [time], [accessory], [business_type], [complain_type], [deal_result], [return_result]) VALUES (CAST(20 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'', N'')
INSERT [dbo].[t03004] ([id], [time], [accessory], [business_type], [complain_type], [deal_result], [return_result]) VALUES (CAST(21 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'', N'')
INSERT [dbo].[t03004] ([id], [time], [accessory], [business_type], [complain_type], [deal_result], [return_result]) VALUES (CAST(22 AS Decimal(18, 0)), CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'', N'')
SET IDENTITY_INSERT [dbo].[t03004] OFF
/****** Object:  Table [dbo].[t03003]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03003](
	[code] [nvarchar](50) NOT NULL,
	[staffId] [nvarchar](20) NULL,
	[time] [datetime] NULL,
	[infosource] [nvarchar](20) NULL,
	[complain_name] [nvarchar](200) NULL,
	[complain_tel] [nvarchar](50) NULL,
	[district] [nvarchar](20) NULL,
	[street] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[unit_floor] [nvarchar](100) NULL,
	[problem_type] [nvarchar](20) NULL,
	[resolve_type] [nvarchar](20) NULL,
	[limit_time] [nvarchar](30) NULL,
	[complain_content] [text] NULL,
	[deal_company] [nvarchar](20) NULL,
	[deal_suggest] [text] NULL,
	[accessory] [text] NULL,
 CONSTRAINT [PK_t03003] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[t03003] ([code], [staffId], [time], [infosource], [complain_name], [complain_tel], [district], [street], [address], [unit_floor], [problem_type], [resolve_type], [limit_time], [complain_content], [deal_company], [deal_suggest], [accessory]) VALUES (N'', N'', CAST(0x0000000000000000 AS DateTime), N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[t03003] ([code], [staffId], [time], [infosource], [complain_name], [complain_tel], [district], [street], [address], [unit_floor], [problem_type], [resolve_type], [limit_time], [complain_content], [deal_company], [deal_suggest], [accessory]) VALUES (N'201808171538220000', N'0000', CAST(0x0000A93F00000000 AS DateTime), N'X001', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'111', N'', N'', N'')
INSERT [dbo].[t03003] ([code], [staffId], [time], [infosource], [complain_name], [complain_tel], [district], [street], [address], [unit_floor], [problem_type], [resolve_type], [limit_time], [complain_content], [deal_company], [deal_suggest], [accessory]) VALUES (N'201808171539210000', N'0000', CAST(0x0000A93F00000000 AS DateTime), N'', N'1', N'', N'', N'', N'', N'', N'', N'', N'', N'21', N'', N'', N'')
/****** Object:  Table [dbo].[t03002]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03002](
	[text] [nvarchar](1024) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_t03002] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t03002] ON
INSERT [dbo].[t03002] ([text], [id]) VALUES (N'5ii890890', 25)
SET IDENTITY_INSERT [dbo].[t03002] OFF
/****** Object:  Table [dbo].[t03001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t03001](
	[time] [datetime] NULL,
	[code] [nvarchar](20) NOT NULL,
	[staffId] [nvarchar](20) NULL,
	[name] [nvarchar](20) NULL,
	[telephone] [nvarchar](12) NULL,
	[address] [nvarchar](256) NULL,
	[contentrs] [nvarchar](1024) NULL,
	[attachment] [nvarchar](1024) NULL,
 CONSTRAINT [PK_t03001] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t03001] ([time], [code], [staffId], [name], [telephone], [address], [contentrs], [attachment]) VALUES (NULL, N'201808050058150000', N'0000', NULL, NULL, NULL, N'', NULL)
/****** Object:  Table [dbo].[t02001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t02001](
	[id] [nvarchar](20) NOT NULL,
	[label] [nvarchar](20) NULL,
	[parent] [nvarchar](20) NULL,
	[icon] [nvarchar](256) NULL,
 CONSTRAINT [PK_t02001] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t02001] ([id], [label], [parent], [icon]) VALUES (N'000', N'仪表板', NULL, N'images/icons/dashboardW.png')
INSERT [dbo].[t02001] ([id], [label], [parent], [icon]) VALUES (N'001', N'案件工单
', NULL, N'images/icons/workOrderW.png
')
INSERT [dbo].[t02001] ([id], [label], [parent], [icon]) VALUES (N'001001', N'待办/新建', N'001', N'images/icons/todoW.png
')
/****** Object:  Table [dbo].[t01006]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t01006](
	[workstation] [nvarchar](20) NULL,
	[telephone] [nvarchar](20) NULL,
	[ip] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_t01006] PRIMARY KEY CLUSTERED 
(
	[ip] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t01006] ([workstation], [telephone], [ip]) VALUES (N'1212121', N'2312312401', N'121212')
INSERT [dbo].[t01006] ([workstation], [telephone], [ip]) VALUES (N'123', N'1007842109', N'123.123.123.123')
INSERT [dbo].[t01006] ([workstation], [telephone], [ip]) VALUES (N'333', N'1007842109', N'127.0.0.1')
/****** Object:  Table [dbo].[t01005]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t01005](
	[telephoneLabel] [nvarchar](20) NULL,
	[telephone] [nvarchar](20) NOT NULL,
	[text] [nvarchar](max) NULL,
 CONSTRAINT [PK_t01005_1] PRIMARY KEY CLUSTERED 
(
	[telephone] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t01005] ([telephoneLabel], [telephone], [text]) VALUES (N'1007842109', N'1007842109', NULL)
INSERT [dbo].[t01005] ([telephoneLabel], [telephone], [text]) VALUES (N'6号话机', N'1231231231', N'123123123')
INSERT [dbo].[t01005] ([telephoneLabel], [telephone], [text]) VALUES (N'三号话机', N'123456789', NULL)
/****** Object:  Table [dbo].[t01004]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t01004](
	[rightId] [nvarchar](20) NOT NULL,
	[roleId] [nvarchar](20) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_t01004] PRIMARY KEY CLUSTERED 
(
	[rightId] ASC,
	[roleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t01004] ON
INSERT [dbo].[t01004] ([rightId], [roleId], [id]) VALUES (N'001', N'001', 57)
INSERT [dbo].[t01004] ([rightId], [roleId], [id]) VALUES (N'001', N'002', 58)
INSERT [dbo].[t01004] ([rightId], [roleId], [id]) VALUES (N'001', N'003', 59)
SET IDENTITY_INSERT [dbo].[t01004] OFF
/****** Object:  Table [dbo].[t01003]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t01003](
	[id] [nvarchar](20) NOT NULL,
	[label] [nvarchar](20) NULL,
	[text] [nvarchar](max) NULL,
 CONSTRAINT [PK_t01003] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t01003] ([id], [label], [text]) VALUES (N'001', N'超级管理员', N'')
INSERT [dbo].[t01003] ([id], [label], [text]) VALUES (N'002', N'用户', NULL)
INSERT [dbo].[t01003] ([id], [label], [text]) VALUES (N'003', N'普通管理员', N'12')
/****** Object:  Table [dbo].[t01002]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t01002](
	[id] [nvarchar](20) NOT NULL,
	[label] [nvarchar](20) NULL,
	[text] [nvarchar](max) NULL,
 CONSTRAINT [PK_t01002] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t01002] ([id], [label], [text]) VALUES (N'001', N'角色管理', N'角色管理权限')
INSERT [dbo].[t01002] ([id], [label], [text]) VALUES (N'002', N'用户管理', N'用户管理权限')
INSERT [dbo].[t01002] ([id], [label], [text]) VALUES (N'003', N'权限管理', N'权限管理权限')
/****** Object:  Table [dbo].[t01001]    Script Date: 08/24/2018 16:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t01001](
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NULL,
	[label] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[staffId] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_t01001] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t01001] ([username], [password], [label], [role], [staffId]) VALUES (N'1111111', N'1111111', N'雍正', N'004', N'0008')
INSERT [dbo].[t01001] ([username], [password], [label], [role], [staffId]) VALUES (N'123456', N'123456', N'阿珂', N'002', N'0007')
INSERT [dbo].[t01001] ([username], [password], [label], [role], [staffId]) VALUES (N'222222', N'222222', N'222222', N'004', N'0006')
/****** Object:  View [dbo].[externalInterfaceQueryView]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[externalInterfaceQueryView]
AS
SELECT     dbo.externalInterfaceQuery.address, dbo.externalInterfaceQueryChild.name, dbo.externalInterfaceQueryChild.telephone, dbo.externalInterfaceQueryChild.id, 
                      dbo.externalInterfaceQuery.district, dbo.externalInterfaceQuery.street, dbo.externalInterfaceQuery.unit_floor, dbo.externalInterfaceQueryChild.meterno AS oldmeterno, 
                      dbo.externalInterfaceQuery.meterno AS currentmeterno, 
                      dbo.externalInterfaceQuery.district + dbo.externalInterfaceQuery.street + dbo.externalInterfaceQuery.address + dbo.externalInterfaceQuery.unit_floor AS newaddress
FROM         dbo.externalInterfaceQuery INNER JOIN
                      dbo.externalInterfaceQueryChild ON dbo.externalInterfaceQuery.id = dbo.externalInterfaceQueryChild.parentid
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "externalInterfaceQuery"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 211
               Right = 330
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "externalInterfaceQueryChild"
            Begin Extent = 
               Top = 25
               Left = 519
               Bottom = 219
               Right = 855
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'externalInterfaceQueryView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'externalInterfaceQueryView'
GO
/****** Object:  View [dbo].[v04002]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v04002]
AS
SELECT   workflowId, id, previousId, label, sqlWhere,timeOut,formName,previousEnabled
FROM      dbo.t04002
UNION ALL
SELECT   - 1 AS workflowId, - 1 AS id, - 1 AS previousId, '[空]' AS label, '' AS sqlWhere,NULL as timeOut,'' as formName,0 as previousEnabled
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04002'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04002'
GO
/****** Object:  View [dbo].[v04001]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v04001]
AS
SELECT   dbo.t04001.id, dbo.t04001.label, dbo.t04003.role, dbo.t04003.label AS formLabel, dbo.t04002.id AS stepId, 
                dbo.t04003.formName
FROM      dbo.t04003 RIGHT OUTER JOIN
                dbo.t04002 ON dbo.t04003.formName = dbo.t04002.formName RIGHT OUTER JOIN
                dbo.t04001 ON dbo.t04002.workflowId = dbo.t04001.id
WHERE   (dbo.t04002.previousId = - 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t04003"
            Begin Extent = 
               Top = 6
               Left = 473
               Bottom = 146
               Right = 625
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04002"
            Begin Extent = 
               Top = 22
               Left = 238
               Bottom = 162
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "t04001"
            Begin Extent = 
               Top = 12
               Left = 32
               Bottom = 133
               Right = 174
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04001'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04001'
GO
/****** Object:  View [dbo].[v01006]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v01006]
AS
SELECT   dbo.t01006.ip, dbo.t01005.telephone, dbo.t01006.workstation, dbo.t01005.telephoneLabel
FROM      dbo.t01005 RIGHT OUTER JOIN
                dbo.t01006 ON dbo.t01005.telephone = dbo.t01006.telephone
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[25] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t01006"
            Begin Extent = 
               Top = 14
               Left = 20
               Bottom = 142
               Right = 162
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t01005"
            Begin Extent = 
               Top = 11
               Left = 275
               Bottom = 151
               Right = 439
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01006'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01006'
GO
/****** Object:  View [dbo].[v01005]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v01005]
AS
SELECT   telephone, telephoneLabel + '(' + telephone + ')' AS telephoneLabel
FROM      dbo.t01005
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t01005"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 127
               Right = 340
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01005'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01005'
GO
/****** Object:  View [dbo].[v01004]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v01004]
AS
SELECT   dbo.t01004.rightId, dbo.t01004.roleId, dbo.t01002.label, dbo.t01002.text, dbo.t01004.id
FROM      dbo.t01002 RIGHT OUTER JOIN
                dbo.t01004 ON dbo.t01002.id = dbo.t01004.rightId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t01002"
            Begin Extent = 
               Top = 15
               Left = 219
               Bottom = 136
               Right = 361
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t01004"
            Begin Extent = 
               Top = 20
               Left = 21
               Bottom = 135
               Right = 163
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01004'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01004'
GO
/****** Object:  View [dbo].[v01001]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v01001]
AS
SELECT   dbo.t01001.username, dbo.t01001.password, dbo.t01001.label, dbo.t01003.label AS roleLabel, dbo.t01001.role, 
                dbo.t01001.staffId
FROM      dbo.t01003 RIGHT OUTER JOIN
                dbo.t01001 ON dbo.t01003.id = dbo.t01001.role
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t01003"
            Begin Extent = 
               Top = 8
               Left = 237
               Bottom = 129
               Right = 379
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t01001"
            Begin Extent = 
               Top = 5
               Left = 15
               Bottom = 145
               Right = 161
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1665
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01001'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v01001'
GO
/****** Object:  View [dbo].[v0400502]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v0400502]
AS
SELECT   dbo.t04002.formName, dbo.t04005.formId, t04002_1.formName AS previousFormName, 
                t04005_1.formId AS previousFormId, dbo.t04005.id
FROM      dbo.t04005 INNER JOIN
                dbo.t04004 ON dbo.t04005.instanceId = dbo.t04004.id INNER JOIN
                dbo.t04002 ON dbo.t04004.workFlowId = dbo.t04002.workflowId AND dbo.t04005.stepId = dbo.t04002.id INNER JOIN
                dbo.t04005 AS t04005_1 ON dbo.t04005.instanceId = t04005_1.instanceId AND 
                dbo.t04002.previousId = t04005_1.stepId INNER JOIN
                dbo.t04002 AS t04002_1 ON dbo.t04004.workFlowId = t04002_1.workflowId AND dbo.t04002.previousId = t04002_1.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[18] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t04005"
            Begin Extent = 
               Top = 4
               Left = 0
               Bottom = 144
               Right = 148
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "t04004"
            Begin Extent = 
               Top = 0
               Left = 261
               Bottom = 102
               Right = 417
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04002"
            Begin Extent = 
               Top = 50
               Left = 455
               Bottom = 190
               Right = 641
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "t04005_1"
            Begin Extent = 
               Top = 87
               Left = 233
               Bottom = 227
               Right = 381
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "t04002_1"
            Begin Extent = 
               Top = 83
               Left = 49
               Bottom = 223
               Right = 235
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1905
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400502'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400502'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400502'
GO
/****** Object:  View [dbo].[v04005]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v04005]
AS
SELECT   dbo.t04003.role, dbo.t04003.label AS formLabel, t04005.id, t04005.instanceId, t04005.stepId, t04005.method, 
                t04005.version, t04005.formId, dbo.t04001.label AS workflowLabel, t04005.username, t04002.formName, 
                t04002Next.formName AS nextFormName, t04002Previous.formName AS previousFormName, t04002.workflowId, 
                t04002Previous.id AS previousStepId, t04002Next.id AS nextStepId, t04005.updateTime, t04005.createTime, 
                t01001_1.label AS userLabel, t04005.textContent, t04005.sendBackText, t04005.sendBackTime, 
                t04005.sendBackUsername, t04002.previousEnabled, dbo.t01001.label AS sendBackUserLabel
FROM      dbo.t04002 AS t04002Previous RIGHT OUTER JOIN
                dbo.t01001 RIGHT OUTER JOIN
                dbo.t04005 AS t04005 ON dbo.t01001.username = t04005.sendBackUsername LEFT OUTER JOIN
                dbo.t04002 AS t04002 ON t04005.stepId = t04002.id LEFT OUTER JOIN
                dbo.t01001 AS t01001_1 ON t04005.username = t01001_1.username ON 
                t04002Previous.id = t04002.previousId LEFT OUTER JOIN
                dbo.t04002 AS t04002Next ON t04002.id = t04002Next.previousId LEFT OUTER JOIN
                dbo.t04003 ON t04002.formName = dbo.t04003.formName LEFT OUTER JOIN
                dbo.t04001 RIGHT OUTER JOIN
                dbo.t04004 ON dbo.t04001.id = dbo.t04004.workFlowId ON t04002.workflowId = dbo.t04004.workFlowId AND 
                t04005.instanceId = dbo.t04004.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[57] 4[29] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t04002Next"
            Begin Extent = 
               Top = 408
               Left = 185
               Bottom = 548
               Right = 371
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "t04002"
            Begin Extent = 
               Top = 123
               Left = 727
               Bottom = 261
               Right = 913
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04005"
            Begin Extent = 
               Top = 5
               Left = 13
               Bottom = 186
               Right = 176
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "t01001_1"
            Begin Extent = 
               Top = 199
               Left = 335
               Bottom = 339
               Right = 481
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "t04002Previous"
            Begin Extent = 
               Top = 422
               Left = 417
               Bottom = 575
               Right = 603
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04003"
            Begin Extent = 
               Top = 240
               Left = 932
               Bottom = 380
               Right = 1084
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04001"
            Begin Extent = 
               Top = 10
               Left = 1017
               Bottom = 162
               Right = 1251
            End
            Displa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04005'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'yFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04004"
            Begin Extent = 
               Top = 0
               Left = 462
               Bottom = 102
               Right = 618
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t01001"
            Begin Extent = 
               Top = 120
               Left = 232
               Bottom = 260
               Right = 378
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2430
         Alias = 3045
         Table = 2325
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04005'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04005'
GO
/****** Object:  View [dbo].[v04003]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v04003]
AS
SELECT   dbo.t04003.formName, dbo.t04003.role, dbo.t04003.text, dbo.t04003.label, dbo.t01003.label AS roleLabel, 
                dbo.t04003.textContentField
FROM      dbo.t04003 LEFT OUTER JOIN
                dbo.t01003 ON dbo.t04003.role = dbo.t01003.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "t01003"
            Begin Extent = 
               Top = 6
               Left = 218
               Bottom = 187
               Right = 360
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04003"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 180
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04003'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v04003'
GO
/****** Object:  View [dbo].[v0400503]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v0400503]
AS
SELECT   dbo.v04005.previousEnabled, dbo.v04005.sendBackUsername, dbo.v04005.sendBackText, dbo.v04005.sendBackTime, 
                dbo.v04005.textContent, dbo.v04005.userLabel, dbo.v04005.createTime, dbo.v04005.updateTime, 
                dbo.v04005.nextStepId, dbo.v04005.previousStepId, dbo.v04005.workflowId, dbo.v04005.previousFormName, 
                dbo.v04005.nextFormName, dbo.v04005.formName, dbo.v04005.username, dbo.v04005.workflowLabel, 
                dbo.v04005.formId, dbo.v04005.version, dbo.v04005.method, dbo.v04005.stepId, dbo.v04005.instanceId, dbo.v04005.id, 
                dbo.v04005.formLabel, dbo.v04005.role, t04005_2.formId AS nextFormId, t04005_2.id AS nextId, 
                dbo.t04005.id AS previousId, dbo.v04005.sendBackUserLabel
FROM      dbo.v04005 LEFT OUTER JOIN
                dbo.t04005 ON dbo.v04005.instanceId = dbo.t04005.instanceId AND 
                dbo.v04005.previousStepId = dbo.t04005.stepId LEFT OUTER JOIN
                dbo.t04005 AS t04005_2 ON dbo.v04005.instanceId = t04005_2.instanceId AND dbo.v04005.nextStepId = t04005_2.stepId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[35] 4[54] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v04005"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 21
         End
         Begin Table = "t04005"
            Begin Extent = 
               Top = 230
               Left = 463
               Bottom = 370
               Right = 667
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t04005_2"
            Begin Extent = 
               Top = 34
               Left = 420
               Bottom = 174
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2055
         Alias = 2055
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400503'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400503'
GO
/****** Object:  View [dbo].[v0400202]    Script Date: 08/24/2018 16:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v0400202]
AS
SELECT   v04002_1.label AS previousLabel, dbo.v04002.sqlWhere, dbo.v04002.label, dbo.v04002.previousId, dbo.v04002.id, 
                dbo.v04002.workflowId, dbo.v04002.timeOut, dbo.v04002.formName, dbo.v04002.previousEnabled, 
                dbo.t04003.label AS formLabel, CASE WHEN dbo.v04002.previousEnabled = 0 OR
                dbo.v04002.previousEnabled IS NULL 
                THEN '否' WHEN dbo.v04002.previousEnabled = 1 THEN '是' END AS previousEnabledLabel
FROM      dbo.v04002 LEFT OUTER JOIN
                dbo.t04003 ON dbo.v04002.formName = dbo.t04003.formName LEFT OUTER JOIN
                dbo.v04002 AS v04002_1 ON dbo.v04002.previousId = v04002_1.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "v04002"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 146
               Right = 192
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "v04002_1"
            Begin Extent = 
               Top = 6
               Left = 230
               Bottom = 146
               Right = 384
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "t04003"
            Begin Extent = 
               Top = 29
               Left = 530
               Bottom = 169
               Right = 682
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400202'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v0400202'
GO
